<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            cursor: pointer;
            position: relative;
        }
        .sort-icon {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    <title>Strona klienta</title>
</head>
<body>

<h1>Zalogowano</h1>
<p th:text="'Witaj ' + ${zalogowanyKlient.imie} + ' ' + ${zalogowanyKlient.nazwisko}"></p>

<a th:href="@{/wyloguj}">
    <button>Wyloguj się</button>
</a>

<h2>Twoje zamówienia</h2>
<table id="tableZam">
    <thead>
    <tr>
        <th onclick="sortTable(0, 'tableZam')">Marka <span class="sort-icon" id="sort-icon-zam-marka">&#x25B2;&#x25BC;</span></th>
        <th onclick="sortTable(1, 'tableZam')">Model <span class="sort-icon" id="sort-icon-zam-model">&#x25B2;&#x25BC;</span></th>
        <th onclick="sortTable(2, 'tableZam')">Rozmiar <span class="sort-icon" id="sort-icon-zam-rozmiar">&#x25B2;&#x25BC;</span></th>
        <th onclick="sortTable(3, 'tableZam')">Cena [zł] <span class="sort-icon" id="sort-icon-zam-cena">&#x25B2;&#x25BC;</span></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="zam : ${zamowienia}">
        <td th:text="${zam.but.marka}"></td>
        <td th:text="${zam.but.nazwaModelu}"></td>
        <td th:text="${zam.rozmiar}"></td>
        <td th:text="${#numbers.formatDecimal(zam.but.cena, 1, 2, 'POINT')}"></td>
    </tr>
    </tbody>
</table>

<h2>Katalog butów</h2>
<label for="szukaj"></label>
<input type="text" id="szukaj" placeholder="Wyszukaj but..." oninput="searchCatalog()">

<table id="table">
    <thead>
    <tr>
        <th onclick="sortTable(0, 'table')">Marka <span class="sort-icon" id="sort-icon-marka">&#x25B2;&#x25BC;</span></th>
        <th onclick="sortTable(1, 'table')">Model <span class="sort-icon" id="sort-icon-model">&#x25B2;&#x25BC;</span></th>
        <th onclick="sortTable(2, 'table')">Cena [zł] <span class="sort-icon" id="sort-icon-cena">&#x25B2;&#x25BC;</span></th>
        <th style="cursor: default;">Rozmiar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="but : ${listaButow}" th:data-id="${but.id}">
        <td th:text="${but.marka}"></td>
        <td th:text="${but.nazwaModelu}"></td>
        <td th:text="${#numbers.formatDecimal(but.cena, 1, 2, 'POINT')}"></td>
        <td>
            <form th:action="@{/dodajZamowienie(klient_id=${zalogowanyKlient.id}, but_id=${but.id})}" method="post">
                <label for="rozmiar"></label>
                <select id="rozmiar" name="rozmiar" required>
                    <option value="" disabled selected>Wybierz rozmiar</option>
                    <option th:each="rozmiar : ${but.rozmiary}" th:value="${rozmiar}" th:text="${rozmiar}"></option>
                </select>
                <button type="submit">Zamów</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<!-- WYSZUKIWANIE PO WSZYSTKICH POLACH W KATALOGU -->
<script>
    function searchCatalog() {
        const searchText = document.getElementById("szukaj").value.trim().toLowerCase();
        const rows = document.querySelectorAll("#table tbody tr");

        rows.forEach(function(row) {
            const cells = row.querySelectorAll("td:nth-child(-n+3)");
            let rowContainsText = false;
            if (searchText === "") {
                row.style.display = "";
            } else {
                cells.forEach(function(cell) {
                    const cellText = cell.textContent.trim().toLowerCase();
                    if (cellText.includes(searchText)) {
                        rowContainsText = true;
                    }
                });

                row.style.display = rowContainsText ? "" : "none";
            }
        });
    }
</script>

<!-- SORTOWANIE TABLELI I STRZAŁKI KIERUNKU SORTOWANIA -->
<script>
    const sortDirections = {
        'table': [1, 1, 1],
        'tableZam': [1, 1, 1, 1]
    };

    function sortTable(columnIndex, tableId) {
        let table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById(tableId);
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex];
                y = rows[i + 1].getElementsByTagName("td")[columnIndex];
                if (sortDirections[tableId][columnIndex] === 1) {
                    if (isNaN(parseFloat(x.innerHTML))) {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else {
                    if (isNaN(parseFloat(x.innerHTML))) {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }

        sortDirections[tableId][columnIndex] *= -1;
        updateSortIcon(columnIndex, tableId);
    }

    function updateSortIcon(columnIndex, tableId) {
        const icons = document.querySelectorAll(`#${tableId} .sort-icon`);
        icons.forEach(function(icon) {
            icon.innerHTML = '&#x25B2;&#x25BC;';
        });

        const iconId = 'sort-icon-' + getColumnId(columnIndex, tableId);
        const currentIcon = document.getElementById(iconId);
        if (sortDirections[tableId][columnIndex] === -1) {
            currentIcon.innerHTML = '&#x25B2;';
        } else {
            currentIcon.innerHTML = '&#x25BC;';
        }
    }

    function getColumnId(columnIndex, tableId) {
        if (tableId === 'tableZam') {
            switch (columnIndex) {
                case 0:
                    return 'zam-marka';
                case 1:
                    return 'zam-model';
                case 2:
                    return 'zam-rozmiar';
                case 3:
                    return 'zam-cena';
                default:
                    return '';
            }
        } else {
            switch (columnIndex) {
                case 0:
                    return 'marka';
                case 1:
                    return 'model';
                case 2:
                    return 'cena';
                default:
                    return '';
            }
        }
    }
</script>
</body>
</html>
